<DOCTYPE html>
<html>
<!-- about.html page -->
    <head>
        <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    </head>
    <style>
        .wrapper {
            text-align: center;
        }
    </style>
    <body>
        <title>About</title>
        <iframe src="navbar.html" width="100%" frameBorder="0"></iframe>
            <div> 
			<!--<iframe src="https://sites.google.com/clarkson.edu/zaim/about" height="100%" width="100%">
			    <a href="https://sites.google.com/clarkson.edu/zaim/about">Website</a>
			</iframe>-->
			<!-- Resources on other origins must be CORS-enabled. -->
            <!--<link rel="import" href="https://sites.google.com/clarkson.edu/zaim/about">-->
            <div class="wrapper">
            Zaim's website is here:
            <a href="https://sites.google.com/clarkson.edu/zaim/about" style="color: #82e0aa;">https://sites.google.com/clarkson.edu/zaim/about</a>
            </div>
		</div>
		
    </body>
</html>