<DOCTYPE html
<!-- account_page.html-->
	<head>
		<link rel="stylesheet" href="/stylesheets/stylesheet.css">
    </head>
    <body>
        <title>About</title>
        <iframe src="navbar.html" width="100%" frameBorder="0"></iframe>
	</body>
</html>

<FORM method="post">
<TABLE>
<TR>
<TD>Username</TD>
<TD><INPUT type="text" value="" name="username" title="Enter Username"/><TD>
</TR>
<TR>
<TD>First Name</TD>
<TD><INPUT type="text" value="" name="username" title="Enter First Name"/><TD>
</TR>
<TR>
<TD>Last Name</TD>
<TD><INPUT type="text" value="" name="username" title="Enter Last Name"/><TD>
</TR>
<TR>
<TD>Phone Number</TD>
<TD><INPUT type="text" value="" name="username" title="Enter Phone Number"/><TD>
</TR>
<TR>
<TD>Email Address</TD>
<TD><INPUT type="text" value="" name="username" title="Enter Email Address"/><TD>
</TR>
<TR>
<TD>Company Name</TD>
<TD><INPUT type="text" value="" name="username" title="Enter Company Name"/><TD>
</TR>
<TR>
<TD>Company ID</TD>
<TD><value="" name="username" title="Enter Company ID"/><TD>
</TR>
<TR>
<TD>Adress</TD>
<TD><INPUT type="text" value="" name="username" title="Enter Address"/><TD>
</TR>
<TR>
<TD>City</TD>
<TD><INPUT type="text" value="" name="username" title="Enter City"/><TD>
</TR>
<TR>
<TD>State</TD>
<TD><INPUT type="text" value="" name="username" title="Enter State"/><TD>
</TR>
<TR>
<TD>Postal Code</TD>
<TD><INPUT type="text" value="" name="username" title="Enter Postal Code"/><TD>
</TR>
<TR>
<TD>Comments</TD>
<TD><INPUT type="text" value="" name="username" title="Enter Comments"/><TD>
</TR>
</TABLE>
    <p> </p>
<button type="save">Save</button>
<button type="add">Add</button>
<button type="delete">Delete</button>
<button type="button"><a style="text-decoration:none;color:black"href="login.html">Back</a></button>
</FORM>