<DOCTYPE html>
<html>
<!-- Product1_Test.html page -->
    <head>
        <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    </head>
    <body>
        <title>About</title>
        <iframe src="navbar.html" width="100%" frameBorder="0"></iframe>
		<div> 
<FORM method="post">
<TABLE>
<TR>
<TD>Item Number</TD>
<TD><INPUT type="text" value="" name="item_number" title="Item Number"/><TD>
</TR>
<TR>
<TD>Product Name</TD>
<TD><INPUT type="text" value="" name="product_name" title="Product Name"/><TD>
</TR>
<TR>
<TD>Price</TD>
<TD><INPUT type="text" value="" name="price" title="Price"/><TD>
</TR>
<TR>
<TD>Category</TD>
<TD><INPUT type="text" value="" name="category" title="Category"/><TD>
</TR>
<TR>
<TD>Description</TD>
<TD><INPUT type="text" value="" name="descr" title="Description"/><TD>
</TR>
<TR>
<TD>Quantity</TD>
<TD><INPUT type="text" value="" name="quantity" title="Quantity"/><TD>
</TR>
</TABLE>
    <p> </p>
            
            
            

		</div>
		
    </body>
</html>